<html>

<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../node_modules/animate.css/animate.min.css">
    <link rel="stylesheet" href="../styles/index.css" />

    <script type="text/javascript" src="../node_modules/snapsvg/dist/snap.svg.js"></script>
    <script type="text/javascript" src="../scripts/jquery.bubble.text.js"></script>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</head>

<body>
    <header class="head row">
        <div class="header-logo col-md-3 col-sm-3 col-lg-3">
            <img class="header-logo-img animated rollIn" src="../resources/angular2.png" />
        </div>
        <div class="header-title col-md-9 col-sm-9 col-lg-9">
            <span class="header-title-text" id="head-title-text">Angular 2</span> <i class="fa fa-star-o fa-4x header-title-star animated rollIn"
                aria-hidden="true"></i>
        </div>
    </header>
    <aside class="sideMenu">
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                <a class="navbar-brand animated bounce" href="#"><i class="fa fa-window-restore "></i> Modals View</a>
            </div>
            <!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                </ul>
            </div>
            <!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-window-restore fa-stack-1x "></i></span> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-window-restore fa-stack-1x "></i></span> Shortcut</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-window-restore fa-stack-1x "></i></span>Overview</a>
                    </li>
                    <li>
                        <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-window-restore fa-stack-1x "></i></span>Events</a>
                    </li>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar With Bootstrap 3 by <a href="http://seegatesite.com/create-simple-cool-sidebar-menu-with-bootstrap-3/">Seegatesite.com</a></h1>
                            <p>This sidebar is adopted from start bootstrap simple sidebar startboostrap.com, which I modified
                                slightly to be more cool. For tutorials and how to create it , you can read from my site
                                here <a href="http://seegatesite.com/create-simple-cool-sidebar-menu-with-bootstrap-3/">create cool simple sidebar menu with boostrap 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

    </aside>

    <footer class="footer">
        <div class="footer-text">copyright &copy 2017</div>
    </footer>
    <script type="text/javascript" src="../scripts/index.js"></script>
</body>

</html>