
  <html>
  <head>
        <title>Email</title>
  </head>
  <body>
    <h1>
      Email
    </h1>
        <form (submit)="addEmail()" class="form-inline">
          <div class="container">
            <div class="input-group col-sm-8">
                <label for="email">EMAIL</label>
                <input class="form-control" type="string" id="email" name="email"   [(ngModel)]="email.email"placeholder=" EMAIL" />
            </div><br />
            <div class="input-group">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        
  </body>
  </html>
