  

<html>
<head>
</head>
<body>
 <form (submit)="addSales()" class="form-inline">

 
      <h1>
        Sales
      </h1>
     
        <div class="input-group col-sm-5">
          <input class="form-control" type="date" name="sales" [(ngModel)]="sales.date"
              placeholder=" date"><br>
            <input class="form-control" type="number" name="sales" [(ngModel)]="sales.total"
              placeholder=" total"><br>
            
        </div>
        <div class="input-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
</body>

</html>
