<nav class="navbar navbar-defaukt" role="navigation" bs-navbar style="background: firebrick; -webkit-text-fill-color: white">
    <div class="navbar-header">
        <a class="navbar-brand">New Application</a>
    </div>
    <ul class="nav navbar-nav">
       
       <li ><a routerLink="/appiontment">Appiontment</a></li>
       <li ><a routerLink="/appiontmentListing">Appiontment Listing</a></li> 
       <li ><a routerLink="/assembly">Assembly</a></li>
       <li ><a routerLink="/assemblyListing">Assembly Listing</a></li> 
       <li ><a routerLink="/customer1">Customer1</a></li>
       <li ><a routerLink="/customer1Listing">Customer1 Listing</a></li> 
       <li ><a routerLink="/customer">Customer</a></li>
       <li ><a routerLink="/customerListing">Customer Listing</a></li> 
       <li ><a routerLink="/doctor">Doctor</a></li>
       <li ><a routerLink="/doctorListing">Doctor Listing</a></li> 
       <li ><a routerLink="/email">Email</a></li>
       <li ><a routerLink="/emailListing">Email Listing</a></li> 
       <li ><a routerLink="/model1">Model1</a></li>
       <li ><a routerLink="/model1Listing">Model1 Listing</a></li> 
       <li ><a routerLink="/model2">Model2</a></li>
       <li ><a routerLink="/model2Listing">Model2 Listing</a></li> 
       <li ><a routerLink="/model">Model</a></li>
       <li ><a routerLink="/modelListing">Model Listing</a></li> 
       <li ><a routerLink="/order1">Order1</a></li>
       <li ><a routerLink="/order1Listing">Order1 Listing</a></li> 
       <li ><a routerLink="/patient">Patient</a></li>
       <li ><a routerLink="/patientListing">Patient Listing</a></li> 
    </ul>
</nav>
<div class="container theme-showcase" role="main">
    <!--Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1 style="text-align: center; -webkit-text-fill-color: firebrick">SaleLine Items</h1>
    </div>
    <hr>
    <div class="jumbotron">
        <router-outlet></router-outlet>
    </div>