  

<html>
<head>
</head>
<body>
 <form (submit)="addItems()" class="form-inline">

 
 <div class="input-group col-sm-5">
      <select [(ngModel)]="items.typeId" name="items" class="form-control" >
      <option *ngFor="let list of types"  [ngValue]="list.id" [attr.selected]="items.typeId==list.id ? true : 0 ">{{list.typename}}</option>
     </select>
     </div>
    
 <div class="input-group col-sm-5">
      <select [(ngModel)]="items.sizeId" name="items" class="form-control" >
      <option *ngFor="let list of sizes"  [ngValue]="list.id" [attr.selected]="items.sizeId==list.id ? true : 0 ">{{list.sizename}}</option>
     </select>
     </div>
    
      <h1>
        Items
      </h1>
     
        <div class="input-group col-sm-5">
          <input class="form-control" type="string" name="items" [(ngModel)]="items.name"
              placeholder=" name"><br>
            <input class="form-control" type="number" name="items" [(ngModel)]="items.price"
              placeholder=" price"><br>
            
        </div>
        <div class="input-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
</body>

</html>
