<!DOCTYPE html>
<html>

<head>
  <script src="ejs.min.js"></script>
  <script>
    var abc = {
      "name": "items",
      "plural": "items",
      "base": "PersistedModel",
      "idInjection": true,
      "options": {
        "validateUpsert": true
      },
      "properties": {
        "name": {
          "type": "string"
        },
        "price": {
          "type": "number"
        }
      },
      "validations": [],
      "relations": {},
      "acls": [],
      "methods": {}
    }
    var html = ejs.render('<h1><%= abc.name %></h1><% for(var property in abc.properties) {%> <li><%= property %></li><% } %>')
    console.log(html)
    var title = "cleaning";


  </script>
</head>

<body>

  <script>
    document.write(html)

  </script>
</body>

</html>
